
table, td, th {
    border:2px solid black;
    



}

table {
    width:100%;
}

#titulo{

    text-align:center;
    font-size:18px;
}

.texto-fila{
    font-weight:bold;
    text-align: center;


}
